@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.slider {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 2rem;
    // overflow: hidden;

    &__slide {
        cursor: pointer;
        position: relative;
        margin-bottom: 1rem;
        z-index: 1;
    }

    &__arrow {
        position: absolute;
        top: 25%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 2;

        &--left {
            left: 10px;
        }

        &--right  {
            right: 10px;
         
        }
    }

    &__indicators {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;

        .slider__indicator {
            width: 10px;
            height: 10px;
            background-color: $secondary-color;
            margin: 0 5px;
            border-radius: 50%;
            cursor: pointer;

            &.active {
                background-color: $blue-light-color;
            }
        }
    }
}