@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.projects {
    margin: 10rem 2rem 4rem;

    &__title {
        margin-bottom: 3rem;

        @include respond-to("mobile") {
            margin-bottom: 2rem; 
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        gap: 30px;
        @include respond-to("tablet") {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @include respond-to("mobile") {
            padding: 0;
            grid-template-columns: 1fr;
        }
    }
}

.projects {
    @include respond-to("tablet") {
        margin-top: 8rem;
    }
}

.projects {
    @include respond-to("mobile") {
        margin: 6rem 0 3rem;

        &__list {
            margin-top: 0;
        }
    }
}