@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.filter-skills {
    @include flex-center;
    flex-direction: column;
    margin: 2rem auto;

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 3rem;

        button {
            @include button($primary-color,
                $text-pale-color,
                $secondary-color,
                $primary-color,
                0.5rem 1.5rem);
            border-radius: 5px;
            font-size: 1rem;
            padding: 0.75rem 1.5rem;
        }
    }

    // Liste des compétences technologiques sans "Toutes"
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        &--item {
            background-color: $card-background-color;
            border-radius: 5px;
            padding: 1.5rem;
            text-align: center;
            box-shadow: $box-shadow;
            transition: transform 0.2s ease;
            width: 100%;
            max-width: 300px;
            box-sizing: border-box;

            .icon-container {
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;

                    .skill-icon {
                        // width: 48px;
                        height: 48px;
                        object-fit: contain;
                        transition: transform 0.2s ease;

                        &.rotate {
                            animation: spin 7s linear infinite;
                        }
                    }

                    @keyframes spin {
                        0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                   
                        
                    }
                }

            &:hover {
                transform: translateY(-3px);
            }

            h4 {
                margin-top: 1.1rem;
            }

            p {
                font-size: $text-font-size;
                margin-top: 0.5rem;
            }
        }
    }

    // Bouton "Toutes"
    &__list.all-category {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    @include respond-to("tablet") {
        &__buttons {
            gap: 0.75rem;

            button {
                font-size: 0.9rem;
                padding: 0.5rem 1rem;
            }
        }

        &__list {
            justify-content: space-around;
            gap: 1rem;

            &--item {
                width: 48%;
                max-width: none;
            }
        }
    }

    @include respond-to("mobile") {
        &__buttons {
            display: flex;
            flex-direction: wrap;
            gap: 0.5rem;

            button {
                width: 48%;
                font-size: 0.85rem;
                padding: 0.75rem;
            }
        }

        &__list {
            justify-content: center;
            gap: 0.8rem;

            &--item {
                width: 87%;
                max-width: 100%;

            }
        }
    }
}