@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.contact {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 1rem 5rem 2rem; 
    background: linear-gradient(10deg, $background-color, $blue-light-color);
     
    h2 {
        font-size: $subtitle-h2-font-size; 
        color: $text-pale-color; 
        margin: 1.5rem;
        text-align: center; 
    }

    &__form {
        @include flex-center; 
        flex-direction: column; 
        justify-content: center; 
        text-align: center;

        &-fieldset {
            border: none; 
            // margin-bottom: 1.5rem; 
            width: 100%;
            max-width: 500px; 

            // legend {
            //     font-family: $font-title;
            //     font-size: 1.5rem; 
            //     margin-bottom: 1.3rem; 
            // }

            &--group {
                display: flex;
                flex-direction: column; 
                margin-bottom: 1rem;
                text-align: left;

                label {
                    display: block;
                    margin-bottom: 0.3rem; 
                    color: $text-pale-color; 
                    width: 7.5rem;
                }

                input,
                textarea {
                    font-family: $font-body;
                    flex: 1; 
                    padding: 0.8rem; 
                    border: transparent; 
                    border-radius: 5px; 
                    background-color: $background-color;
                    box-shadow: $box-shadow;
                    color: $primary-color;

                    &:focus {
                        outline: none;
                        border-color: $primary-color; 
                        box-shadow: 0 0 0 3px rgba($primary-color, 0.9); 
                    }
                }

                textarea {
                    height: 200px; 
                    resize: auto; 
                }
            }
        }
    }

    .button {
        @include button($primary-color,
                $text-pale-color,
                $secondary-color,
                $primary-color,
                1rem 3.5rem);
    }
}

