@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home {
    margin-top:8rem;
    padding:  2rem;
    height: 100%;

    @include respond-to("tablet") {
            margin-top: 6rem;
            padding: 1.2rem;
        }
    
    @include respond-to("mobile") {
        margin-top: 4.5rem;
        padding: 0;

        p {
            padding: 0.5rem;
        }
    }
    

    &__presentation {
        text-align: center;

        p {
            margin: auto;
            max-width: 600px;
        }
    }

    &__projects {
        background: $modal-background-color;
        text-align: center;
        padding: 5rem 0;

        p {
            margin: 2rem 0;
        }

        @include respond-to("mobile") {
            margin: 0;
        }

        &--button {
            @include button($secondary-color,
                    $text-pale-color,
                    $primary-color,
                    $secondary-color,
                    0.5rem);
        }
    }

    &__skills {
        padding-top: 8rem;
        text-align: center;

        h2 {
            margin-top: 3rem;
        }

        p {
            margin-block: 2rem;
            color: $secondary-color;
        }

        @include respond-to("tablet") {
            padding-top: 5rem;
        }

        @include respond-to("mobile") {
            padding-top: 4rem;
        }
    }

    &__contact {
        padding: 7rem 0 5rem;
        text-align: center;

        h3 {
            margin: 2rem;
        }

        p {
            margin: 2rem;
            color: $secondary-color;
        }

        @include respond-to("mobile") {
            padding: 4rem 0;

            h3 {
                margin: 1rem;
            }

            p {
                margin: 1rem;
            }
        }
    }
}

