@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.home {
    margin-top:8rem;
    padding:  2rem;
    height: 100%;
    // background-color: $home-background-color;

    &__presentation {
        text-align: center;

        p {
            // color: $primary-color;
            margin: auto;
            max-width: 600px;
        }
    }

    &__projects {
        background: $modal-background-color;
        text-align: center;

        p {
            margin: 1rem 0;
        }
    }

    // &__skills {
    //     background-image: url("./../../assets/images/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg");
    //     background-color: transparent;
    //     background-size: cover;
    //     background-position: center;
    //     background-repeat: no-repeat;
    // }

    &__contact-cta {
        text-align: center;

        p {
            margin-bottom: 1.5rem;
            color: $secondary-color;
        }

        // &--link {
        //     @include button($primary-color,
        //         $text-pale-color,
        //         $see-thro-primary-color,
        //         $blue-light-color,
        //         0.6rem 1rem);

        //     &:hover {
        //         text-decoration: none;
        //     }
        // }
    }
}

.home {
    @include respond-to("tablet") {
        margin-top:6rem;
        padding: 1.2rem;
    }

    @include respond-to("mobile") {
        margin-top:4.5rem;
        padding: 0.5rem;

        p {
            padding: 0.5rem;
        }

        // &__skills {
        //     // background-image: none;
        //     // background:$blue-light-color;
        // }
    }
}