@use "./../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
    background-color: $primary-color;
    color: $text-pale-color;
    padding: 2rem 1rem;

    p {
        text-align: center;
        margin: 0;
        font-size: $footer-text-font-size; // Utilisation de la nouvelle variable
    }

    &__links {
        margin-top: 1rem;
        @include flex-center;
        justify-content: center;
        gap: 1.5rem;

        a {
            .footer-icon {
                width: $footer-icon-size; 
                height: $footer-icon-size;
                fill: $text-pale-color;
                transition: transform 0.2s ease, opacity 0.2s ease;

                &:hover {
                    fill: $secondary-color;
                    transform: scale(1.1);
                }
            }
        }
    }
}

@include respond-to("mobile") {
    .footer {
        font-size: 0.7rem;
        padding: 1.5rem 1rem;

        &__links {
            gap: 1rem;

            a {
                .footer-icon {
                    width: $footer-icon-size; 
                    height: $footer-icon-size;
                }
            }
        }
    }
}