@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.card {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: $card-background-color;
    border-radius: 5px;
    box-shadow: $box-shadow;
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-2px);
    }

    &__image {
        width: 100%;
        height: 170px;
    }

    &__title {
        margin-top: 0.7rem;
    }

    &__description {
        @include flex-center;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
        flex-grow: 1; // Espace disponible
    }

    &__button {
        margin: 0 0 1.2rem;

        @include button($primary-color,
            $text-pale-color,
            $see-thro-primary-color,
            $blue-light-color,
            0.3rem 1rem);
    }
}