@use "./../../../styles/variables.scss" as *;

.arrow-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.8;
    }

    &--left,
    &--right {
        .arrow-icon {
            width: $icon-size;
            height: $icon-size;
            fill: $text-pale-color; // Couleur par défaut
            transition: transform 0.2s ease, opacity 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}