@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.about {
    padding: 2rem;
    max-width: 800px;
    margin-top: 5rem;
    margin-inline:  auto;

    &__title {
        font-weight: 700;
        margin: 3rem 0;
    }

    &__subtitle {
        margin-bottom: 1.5rem;
    }

    &__description { 
        line-height: 1.7;
        margin-bottom: 1rem;
    }
}

@include respond-to("mobile") {
    .about {
        padding: rem;
        text-align: left;
    }
}