@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about {
    max-width: 800px;
    padding: 7rem 0 5rem;
    margin-inline: auto;

    &__title {
        font-weight: 700;
        margin: 3rem 0;
    }

    &__subtitle {
        margin-bottom: 1.5rem;
    }

    &__description {
        line-height: 1.7;
        margin-bottom: 1rem;
    }
}

@include respond-to("tablet") {
    .about {
        padding-inline: 1.5rem;
    }
}

@include respond-to("mobile") {
    .about {
        padding: 5rem 1rem 3rem;
        text-align: left;

        &__title {
            margin: 1.5rem 0;
        }
    }
}